<!DOCTYPE html>
<html>
<head>
    <title>Cookbook Companion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div id="branding">
                <h1>Cookbook Companion</h1>
            </div>
        </header>

        <div class="form">
            <h2>Recipe Scraper</h2>
            <form method="POST">
                <label for="number_of_recipes">Number of Recipes:</label>
                <input type="number" id="number_of_recipes" name="number_of_recipes">
                <input type="submit" name="Crawl_Recipes" value="Crawl Recipes" class="button"> 
                {% if status %}
                    <p>{{ status }}</p>
                {% endif %}
            </form>
        </div>

        <div class="form">
            <h2>Filter Recipes by Ingredient</h2>
            <form method="POST">
                <label for="ingredient_filter">Enter Ingredients (separated by commas):</label>
                <input type="text" id="ingredient_filter" name="ingredient_filter" placeholder="e.g., tomatoes, cheese, basil">
                <input type="hidden" name="filter_criteria" value="{{ filter_criteria }}">
                <input type="submit" name="Filter_Recipes" value="Filter Recipes" class="button"> 
            </form>
            <h2>Recipes</h2>
            <p>Filter: {% for ingredient in filter_criteria %}{{ ingredient }} {% endfor %}</p>
            <form method="POST">
                <input type="hidden" name="filter_criteria" value="{{ filter_criteria }}">
                <input type="submit" name="Show_Recipes" value="Show Recipes" class="button"> 
            </form>        
        </div>

        {% if recipes %}
            {% for recipe in recipes %}
                <div class="recipe">
                    <h3>{{ recipe['name'] }}</h3>
                    {% if recipe['is_vegetarian'] %}
                        <p>Vegetarisch</p>
                    {% endif %}
                    <p>Kochzeit: {{ recipe['cooking_time'] }} Minuten</p>
                    <p>Zutatenliste: {{ recipe['ingredients'] }}</p>
                    {% for preparation_step in recipe['preparation_steps'] %}
                        <p>{{ preparation_step[0] }}. {{ preparation_step[1] }}</p>
                    {% endfor %}
                    <a href="{{ recipe['url'] }}" class="button">Link</a>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</body>
</html>
