<!DOCTYPE html>
<html>
<head>
    <title>Cookbook Companion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div id="branding">
                <h1>Cookbook Companion</h1>
            </div>
        </header>

        <div class="form" id="scraper">
            <h2>Rezepte abrufen</h2>
            <form method="POST">
                <label for="number_of_recipes">Anzahl an Rezepten:</label>
                <input type="number" id="number_of_recipes" name="number_of_recipes">
                <input type="submit" name="Crawl_Recipes" value="Rezepte abrufen" class="button"> 
                {% if status %}
                    <p>{{ status }}</p>
                {% endif %}
            </form>
        </div>

        <div class="form" id="show">
            <h2>Rezeptfilter</h2>
            <form method="POST">
                <label for="ingredient_filter">Vorräte eingeben (mit Komma getrennt):</label>
                <input type="text" id="ingredient_filter" name="ingredient_filter" placeholder="z.B. Mehl, Apfel, Käse"></br>
                <label for="cooking_time_filter">Maximale Kochzeit (in Minuten):</label>
                <input type="text" id="cooking_time_filter" name="cooking_time_filter" placeholder="z.B. 120"></br>
                <label for="is_vegetarian">Vegetarisch:</label>
                <input type="checkbox" id="is_vegetarian" name="is_vegetarian"></br></br>
                <input type="hidden" name="filter_criteria" value="{{ filter_criteria }}">
                <input type="submit" name="Filter_Recipes" value="Rezepte Filtern" class="button"> 
                <input type="submit" name="Reset_Filter" value="Filter leeren" class="button">
            </form>
            <h2>Rezepte</h2>
            {% if filter_criteria.get('filter_ingredients', []) | length > 0 and filter_criteria.get('filter_ingredients', [None])[0] %}
                <p>Vorräte: {% for ingredient in filter_criteria.get('filter_ingredients', []) %}{{ ingredient }} {% endfor %}</p>
            {% endif %}

            {% if filter_criteria.get('filter_cooking_time', []) %}
                <p>Kochzeit: {{ filter_criteria.get('filter_cooking_time', []) }}</p>
            {% endif %}

            {% if filter_criteria.get('filter_is_vegetarian', []) %}
                <p>Vegetarisch: {{ filter_criteria.get('filter_is_vegetarian', []) }}</p>
            {% endif %}
            <form method="POST">
                <input type="hidden" name="filter_criteria" value="{{ filter_criteria }}">
                <input type="submit" name="Show_Recipes" value="Rezepte anzeigen" class="button"> 
            </form>        
        </div>

        {% if recipes %}
            {% for recipe in recipes %}
                <div class="recipe">
                    <h3>{{ recipe['name'] }}</h3>
                    {% if recipe['is_vegetarian'] %}
                        <p>Vegetarisch</p>
                    {% endif %}
                    <p>Kochzeit: {{ recipe['cooking_time'] }} Minuten</p>
                    <p>Zutatenliste: {{ recipe['ingredients'] }}</p>
                    {% for preparation_step in recipe['preparation_steps'] %}
                        <p>{{ preparation_step[0] }}. {{ preparation_step[1] }}</p>
                    {% endfor %}
                    <a href="{{ recipe['url'] }}" class="button">Link</a>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</body>
</html>
